ul {
  list-style-type: none;
  margin: 0;
}

.container-fluid {
  justify-content: center;
}

.logo-background {
  background-color: white;
  border: solid black 1px;
  border-radius: 50%;
}

.logo-background+.header-background {
  margin-left: 20px;
}

.header-background {
  padding: 10px 90px;
  background-color: #66ccff;
  border: solid black 1px;
}

.header-text {
  margin-bottom: 0;
  font-family: Tekton Pro;
  font-size: 80px;
}

.header-account {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-account li+li {
  margin-top: 25px;
}

.button-account {
  color: black;
  background-color: #ff66b3;
  border: solid black 1px;
  font-family: Tekton Pro;
  font-size: 17px;
}

.button-account:hover {
  color: white;
  background-color: black;
  border: solid whitesmoke 1px;
  font-family: Tekton Pro;
}

.container {
  max-width: 1170px;
}

.nav-menu-background {
  background-color: #66ccff;
  border: solid black 1px;
}

.navbar-nav .nav-link {
  font-family: Tekton Pro;
  font-size: 23px;
  color: black;
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  background-color: #ff66b3;
  border-radius: 8px;
  margin: 0 10px;
}

.navbar-collapse {
  justify-content: space-evenly;
}

.navbar {
  display: block;
}

.navbar-toggler {
  margin: 0 10px;
}

.show {
  margin-top: 10px;
}

.dropdown-menu {
  margin: 3px 10px;
  background-color: #77d1fd;
  border: solid black 1px;
}

.dropdown-item:hover {
  background-color: #ff85c2;
}

.content {
  background-color: white;
  padding: 20px;
}

.footer-background {
  background-color: #66ccff;
  border: solid black 1px;

  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.footer-list {
  padding: 0;
  margin: 5px 0;
  width: 250px;

  font-family: Tekton Pro;
}

.footer-list img {
  margin-bottom: 7px;
}

.footer-text {
  font-size: 18px;
  margin-left: 10px;
}

h5 {
  font-weight: bolder;
}

@media (max-width: 516px) {
  .header-text {
    font-size: 60px;
  }

  .header-background {
    margin-left: 0 !important;
    padding-right: var(--bs-gutter-x, 1.75rem);
    padding-left: var(--bs-gutter-x, 1.75rem);
  }

  .header-account {
    flex-direction: row !important;
  }
}

@media (max-width: 900px) {
  .header-account {
    flex-direction: row !important;
    margin-bottom: 5px;
  }

  .header-account li+li {
    margin-left: 15px;
  }
}