<nav class="navbar">
  <div class="container-fluid">
    <div class="logo-background">
      <a routerLink="/home">
        <img src="assets/images/logo.png" alt="flor rosa" class="" width="">
      </a>
    </div>
    <div class="header-background">
      <h1 class="header-text">HIBISCO</h1>
    </div>
    <div>
      <ul class="header-account">
        <li class="nav-item">
          <a class="btn btn-dark button-account nav-link" routerLink="" role="button">Cadastre-se</a>
        </li>
        <li class="nav-item">
          <a class="btn button-account nav-link" routerLink="" role="button">Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <nav class="navbar sticky-top navbar-expand-lg navbar-light nav-menu-background">
    <div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="navbar-nav" *ngFor="let menu of menus">
          <li class="nav-item" *ngIf="menu.subMenus.length === 0">
            <a class="nav-link" routerLink="{{menu.route}}">{{menu.item}}</a>
          </li>
          <li class="nav-item dropdown" *ngIf="menu.subMenus.length > 0">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">{{menu.item}}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li *ngFor="let subMenu of menu.subMenus"><a class="dropdown-item"
                  routerLink="{{subMenu.route}}">{{subMenu.item}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <footer class="navbar navbar-expand-lg footer-background">
    <div>
      <ul class="footer-list">
        <li>
          <h5>Contatos</h5>
        </li>
        <li>
          <img src="assets/images/icons/telefone.png" width="20">
          <span class="footer-text">(11) 4002-8922</span>
        </li>
        <li>
          <img src="assets/images/icons/casa.png" width="20">
          <span class="footer-text">Rua Lauro Gomes, 506 <br> São Bernardo do Campo, SP</span>
        </li>
        <li>
          <img src="assets/images/icons/email.png" width="20">
          <span class="footer-text">hibiscocontato@gmail.com</span>
        </li>
      </ul>
    </div>
    <div>
      <ul class="footer-list">
        <li>
          <h5>Redes Sociais</h5>
        </li>
        <li>
          <img src="assets/images/icons/instagram.png" width="40" height="40">
          <span class="footer-text">@hibiscoflores</span>
        </li>
        <li>
          <img src="assets/images/icons/facebook.png" width="40" height="40">
          <span class="footer-text">Hibisco Flores</span>
        </li>
      </ul>
    </div>
  </footer>
</div>
