<h2>Sobre nós</h2>
<br>
<img src="assets/images/sobre-nos-ilustracao.jpg" alt="floricultura">
<p>
  A HIBISCO é uma das pioneiras e referência de mercado no e-commerce brasileiro. Iniciamos nossas operações em setembro
  de 2010, com uma proposta inovadora dedicada exclusivamente às vendas on-line e por telefone através de uma ampla rede
  de floriculturas locais selecionadas, efetuando entregas rápidas e eficientes de produtos e serviços da mais alta de
  qualidade em todo Brasil. Atualmente, trabalhamos com eventos de todo tipo, oferecendo serviços e produtos de
  qualidade, gerando satisfação para nossos clientes, respeitando seus direitos como consumidores e propiciando a cada
  vez mais pessoas alegria e emoção, beleza e bom gosto.
</p>
<p>
  Nosso produtos seguem um rigoroso controle de qualidade para a produção e a comercialização garantindo assim aos
  nossos clientes a confiabilidade, a qualidade e a satisfação dos nossos clientes.
</p>
<p>
  Contamos também com uma seleção de fornecedores especializados, para garantir a qualidade e durabilidade das flores.
  Nossa equipe de Profissionais Especializados faz da HIBISCO uma empresa que preza pela confiabilidade, qualidade e
  durabilidade das flores.
</p>
<p>
  A preocupação da HIBISCO não está baseada apenas no bem estar de seus clientes em seus respectivos ambientes de
  trabalho, mas também no desenvolvimento sustentável. Por isso, desenvolvemos nossos produtos dentro desse conceito e
  em prol da sustentabilidade.
</p>